.container {
	display: flex;
}

.controller {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.2rem 2rem;
	border-radius: 1.6rem;
	background-color: var(--light-color);
}

.pageNumber {
	font-size: 2.2rem;
	cursor: default;
}

.controlButton {
	border: none;
	cursor: pointer;
	display: grid;
	place-items: center;
	padding: 0.3rem;
	border-radius: 50%;
	background-color: var(--light-color-shade);
	margin: 0 0.8rem;
}

.arrow {
	width: 1.2rem;
	height: 1.2rem;
	fill: var(--dark-color);
}

.add {
	width: 1.55rem;
	height: 1.55rem;
	fill: var(--dark-color);
}

.deleteContainer {
	border: none;
	background: none;
	cursor: pointer;
	display: grid;
	place-items: center;
	padding: 0.3rem;
}

.delete {
	width: 2.8rem;
	height: 2.8rem;
	fill: var(--dark-color);
}