.layout {
	--nav-height: 100px;
}

.layout > nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--nav-height);
}

.layout > main {
	/*padding-top: var(--nav-height);*/
	height: 100dvh;
	width: 100%;
}