.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
	background: transparent;
	z-index: 1;
}

.logoLink {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: var(--nav-height);
}

.loginRegisterLinks {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}

.registerLink:link, .registerLink:visited, .registerLink:hover, .registerLink:active {
	text-decoration: underline;
}

.loginLink:link, .loginLink:visited, .loginLink:hover, .loginLink:active {
	padding: 1rem 4rem;
	border-radius: 15px;
	background-color: var(--primary-color);
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0 2rem;
	}

	.loginRegisterLinks {
		gap: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		transform: scale(0.8);
	}

	.loginRegisterLinks {
		gap: 1rem;
	}

	.loginLink:link, .loginLink:visited, .loginLink:hover, .loginLink:active {
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 420px) {
	.logo {
		transform: scale(0.7);
	}

	.disappear {
		display: none !important;
	}

	.loginRegisterLinks {
		gap: 0.8rem;
	}

	.loginLink:link, .loginLink:visited, .loginLink:hover, .loginLink:active {
		padding: 0.8rem 1.6rem;
	}
}

@media screen and (max-width: 300px) {
	.logo {
		transform: scale(0.6);
	}
}

