* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	display: grid;
	place-content: center;
	overflow: hidden;
}

.document {
	width: 21cm;
	height: 29.7cm;
	padding: 3cm;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}