.documentController {
	display: flex;
}

.documentControl {
	display: grid;
	place-content: center;
	border: none;
	background: none;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.4rem;
}

.documentControl:hover {
	background-color: var(--light-color);
}

.settings {
	width: 2.8rem;
	height: 2.8rem;
	fill: var(--dark-color);
}

.save {
	width: 2.8rem;
	height: 2.8rem;
	fill: var(--dark-color);
}

.exit {
	width: 2.8rem;
	height: 2.8rem;
	fill: var(--dark-color);
}

.property {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 1.2rem;
}