.modal {
	border: none;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	inset: 0;
	margin: auto;
	animation: openModal 0.3s;
	width: clamp(26rem, 50%, 80rem);
}

.modal::backdrop {
	background: rgba(0, 0, 0, 0.5);
	animation: openModalBackdrop 0.3s;
}

.modalWrapper {
	height: 100%;
	width: 100%;
	padding: 2rem;
}

.content {
	position: relative;
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.4rem;
	display: grid;
	place-content: center;
}

.closeButton:hover {
	background-color: var(--light-color);
}

.closeIcon {
	height: 2.4rem;
	aspect-ratio: 1;
	fill: var(--dark-color);
}

@keyframes openModal {
	from {
		opacity: 0;
		transform: scale(0.4);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes openModalBackdrop {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

