.documentPane {
	position: relative;
	width: 100%;
	height: min(100%, 100dvh);
	overflow: hidden;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
}

.cursorGrab {
	cursor: grab;
}

.cursorGrab * {
	pointer-events: none;
	user-select: none;
}

.cursorGrab:active {
	cursor: grabbing;
}

.actions {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
}

.zoomAction {
	width: 4.8rem;
	height: 4.8rem;
	background-color: #c3c3c3;
	color: #fff;
	font-size: 4.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
}